@model IEnumerable<GBHS_HospitalProject.Models.BookingDto>

@{
    ViewBag.Title = "List of bookings";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingReasonToVisit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookingStartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingEndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingReasonToVisit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingID })
        </td>
    </tr>
}

</table>
