@model IEnumerable<GBHS_HospitalProject.Models.BookingDto>

@{
    ViewBag.Title = "List of bookings";
}

<h2>Index</h2>
@if (User != null && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingStartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingEndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingReasonToVisit)
        </th>
        @if (User.IsInRole("Admin"))
        {
            <th>@Html.DisplayNameFor(model => model.PatientFirstName)</th>
            <th>@Html.DisplayNameFor(model => model.PatientLastName)</th>
        }
        <th>@Html.DisplayNameFor(model => model.SpecialistFirstName)</th>
        <th>@Html.DisplayNameFor(model => model.SpecialistLastName)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingReasonToVisit)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.PatientFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientLastName)
                </td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.SpecialistFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialistLastName)
            </td>
            <td>
                @if (User != null && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookingID }) <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookingID }) <span>|</span>
                }

                @Html.ActionLink("Details", "Details", new { id = item.BookingID }) |

                @Html.ActionLink("Book", "Book", new { id = item.BookingID })
            </td>
        </tr>
    }

</table>
