
@model GBHS_HospitalProject.Models.ViewModels.SpecialistDetails

@{
  ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()

<div class="form-horizontal">
  <h4>Edit Department</h4>
  <hr />
  <div style="display:none;">
    @* Pass through the Item ID *@
    <input type="text" name="SpecialistID" value="@Model.SelectedSpecialist.SpecialistID" />
  </div>


  <div>
    <label class="control-label col-md-2">First Name:</label> <input type="text" name="SpecialistFirstName" value="@Model.SelectedSpecialist.SpecialistFirstName" class="form-control"/>
  </div>
  <div>
    <label class="control-label col-md-2">Last Name:</label> <input type="text" name="SpecialistLastName" value="@Model.SelectedSpecialist.SpecialistLastName" class="form-control"/>
  </div>

  <label class="control-label col-md-2">Department Name:</label>
  <select name="DepartmentID" id="@Model.SelectedSpecialist.DepartmentID" class="form-control">
    @foreach (var department in Model.RelatedDepartments)
    {
      <option value="@department.DepartmentID">@department.DepartmentName</option>

    }
  </select>

  <div class="form-group">
    <div class="control-label col-md-2">
      <input type="submit" value="Save" class="btn btn-default" />
    </div>
  </div>
</div>
}

<div>
  @Html.ActionLink("Back to List", "List")
</div>

