@model GBHS_HospitalProject.Models.ViewModels.DetailsPatient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SelectedPatient.PatientFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedPatient.PatientFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedPatient.PatientLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedPatient.PatientLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedPatient.PatientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedPatient.PatientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedPatient.PatientPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedPatient.PatientPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectedPatient.PatientGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectedPatient.PatientGender)
        </dd>

    </dl>
    <div>
        appointments
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <strong>ID</strong>
            </div>
            <div class="col-sm-2">
                <strong>Start time</strong>
            </div>
            <div class="col-sm-2">
                <strong>End time</strong>
            </div>
            <div class="col-sm-2">
                <strong>Specialist</strong>
            </div>
        </div>
        @foreach(var item in Model.BookingsOfPatient)
            {
    <div class="row">
        <div class="col-sm-2">
            @item.BookingID.ToString()
        </div>
        <div class="col-sm-2">
            @item.BookingStartTime.ToString()
            </div>
            <div class="col-sm-2">
            @item.BookingEndTime.ToString()
        </div>

        <div class="col-sm-2">
            @if (item.SpecialistFirstName != null)
            {
                @item.SpecialistFirstName
            }
            @if (item.SpecialistLastName != null)
            {
                @item.SpecialistLastName
            }

        </div>
    </div>
            }
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SelectedPatient.PatientID }) |
    @if (User != null && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Back to List", "List")
    }
            else
            {
                @Html.ActionLink("Go to Booking List","../Booking/List")
            }

</p>
